* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
}

body {
  height: 100%;
  font-family: "Montserrat", sans-serif;
  display: block;
  margin: 20px auto;
  align-items: center;
  background-image: linear-gradient(to top right, #00dbdf, #dc06e4);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
