.WeatherTemperature h2 .units {
  position: relative;
  top: -10px;
  font-size: 15px;
}

.WeatherTemperature h2 {
  font-size: 30px;
  font-weight: bold;
}

.WeatherTemperature a {
  color: #ec6e4c;
}

.WeatherTemperature h2 .active {
  cursor: default;
}
